/* параметры вообще для всего */
*{
    font-family: JetBrainsMono;
    font-size: 11px;
}

/* COLOR */
/* @define-color bg #2f343f; */
@define-color bg #2e3440;
@define-color fg #d8dee8;
@define-color fg_2 #d8dee8;

/* параметры для окна */
window {
    background-color: @bg;
    border-radius: 15px;
}

/* параметры для окна ввода */
#input {
    margin: 10 15 10 15px;
    padding: 5;
    border-radius: 5px;
    border: none;
    border-bottom: 0px solid #2f343f;
    background-color: @fg;
    color: @bg;
}

/* параметры для окна с приложениями */
#inner-box {
    background-color: @bg;

}

/* параметры пространства вокруг окна wofi */
#outer-box {
    margin: 20px;
    padding:0px;
    background-color: @bg;
}

/* параметры для полосы прокрутки */
#scroll {
    background-color: @bg;
}

/* параметры для текста */
#text {
padding: 5px;
color: @fg;
}

/* параметры для 2й колонки если таковая имеется */
#entry:nth-child(even){
    background-color: @bg;
}

/* параметры для выделенного пункта */
#entry:selected {
    border-radius: 5px;
    background-color: @fg_2;
    font-color: @bg;
}

/* параметры выделенного текста */
#text:selected {
color: @bg;
}

/* параметры для иконок */
#img

/* параметры для не выделенного */
#unselected
